@charset 'utf-8';
@import 'settings';
@import 'mixins';
@import 'foundation';
@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;

*,
* ::after,
* ::before {
  box-sizing: border-box;
}

.clearfix {
  @include clearfix;
}
//Layout

.outer {
  max-width: 100%;
  overflow: hidden;
}

.page-wrap {
  margin: 0 auto;
  max-width: rem-calc(1680);
}

.section {
  margin: 0 auto;
  max-width: $global-width;
  padding: $grid-column-gutter/2 $grid-column-gutter/4;
}

.center {
  text-align: center;
}

.light-blue {
  background: $light-blue;
}

.green {
  background: $green;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

p {
  margin-bottom: 0;
}

ul {
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: underline;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}
// Header

header {
  padding: $grid-column-gutter/4;
}
@include breakpoint(xxlarge) {
  header {
    display: flex;
    flex-wrap: wrap;
  }
}
// logo

.logo {
  img {
    max-width: rem-calc(200);
  }
}
@include breakpoint(xxlarge) {
  .logo {
    width: 20%;
  }
}
// Menu

#main-menu {
  @extend .clearfix;
  padding: $grid-column-gutter/4 0;
  text-transform: uppercase;

  a {
    display: block;
    font-size: rem-calc(22);
    padding: $grid-column-gutter/4;
    text-decoration: none;

    &:focus,
    &:hover {
      background: $dark-blue;
      color: $white;
    }
  }
}
@include breakpoint(xxlarge) {
  .main-nav {
    width: 60%;
  }

  #main-menu {
    position: relative;
    display: block!important;

    li {
      float: left;
    }

    a {
      padding-top: 0;
      padding-bottom:  0;
    }
  }

  .sub-menu {
    z-index: 100;
    position: absolute;
    margin: 0;
    text-align: center;
    display: inline-grid;

    li {
      float: none;
    }

    a {
      padding-right: $grid-column-gutter;
      padding-left: $grid-column-gutter;
      background: $dark-blue;
      color: $white;

      &:focus,
      &:hover {
        background: $white;
        color: $dark-blue;
      }
    }
  }
}
// Lang Menü

.lang-nav {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid $dark-blue;
  margin-top: $grid-column-gutter / 4;
  padding: $grid-column-gutter/4 0 0;
}

#lang-menu {
  text-transform: uppercase;

  li {
    display: inline-block;
  }

  a {
    padding: $grid-column-gutter/4;
    color: $green;
    text-decoration: none;

    &:focus,
    &:hover {
      background: $green;
      color: $white;
    }
  }
}
@include breakpoint(xxlarge) {
  .lang-nav {
    border: none;
    margin: 0;
    width: 20%;
  }
}
// Menu Button

.menu-button {
  @include size($grid-column-gutter*1.5);
  cursor: pointer;
  display: block;
  position: absolute;
  right: 0;
  top: 0;

  &.active {
    .menu-button-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        opacity: 0;
        top: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

.menu-button-box {
  @include size(rem-calc(70));
  display: inline-block;
  padding: rem-calc(16);
  position: relative;
  transition: transform 0.25s;
}

.menu-button-inner {
  display: block;
  margin-top: rem-calc(-40);
  top: 100%;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &,
  &::after,
  &::before {
    background-color: $blue;
    border-radius: rem-calc(2);
    height: rem-calc(5);
    position: absolute;
    transition: transform 0.25s ease;
    width: rem-calc(40);
  }

  &::after,
  &::before {
    content: "";
    display: block;
  }

  &::before {
    right: rem-calc(0);
    top: rem-calc(11);
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }

  &::after {
    bottom: rem-calc(11);
    right: rem-calc(0);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}

.menu-button-label {
  color: $blue;
  display: block;
  margin-top: -$grid-column-gutter / 3.75;
}
@include breakpoint(xxlarge) {
  .menu-button {
    display: none;
  }
}
// Hero
.hero {
  position: relative;

  .head-bar {
    max-width: $global-width;
    margin: 0 auto;
  }

  h1 {
    color: $white;
    position: absolute;
    top: 60%;
    transform: translateY(-40%);
    @include fluidType(24px, 44px, 320px, 1440px);
  }

  span {
    @include fluidType(24px, 80px, 320px, 1440px);
    font-weight: bold;
  }
}
// Inhalt

.row {
  margin-bottom: $grid-column-gutter;

  .wp-block-column {
    &:first-of-type {
      margin-bottom: $grid-column-gutter;
    }
  }

  h2,
  h3 {
    font-weight: bold;
    margin-bottom: $grid-column-gutter/2;
  }

  h2 span {
    text-transform: lowercase;
  }

  h3 {
    color: $white;
  }

  span {
    display: block;
    font-weight: normal;
    margin-bottom: $grid-column-gutter/2;
  }

  li {
    margin-bottom: $grid-column-gutter/4;

    &::before {
      content: "»";
      margin-right: $grid-column-gutter/4;
    }
  }
}
@include breakpoint(large) {
  .row {
    .wp-block-columns {
      display: grid;
      grid-template-rows: 1fr;
      padding: $grid-column-gutter/2 $grid-column-gutter/4;
    }

    .wp-block-column {
      &:first-of-type {
        margin-bottom: 0;
      }
    }

    .has-2-columns {
      grid-template-columns: repeat(2, 50% [col]);

      .wp-block-column {
        margin: 0 $grid-column-gutter/4;

        &:first-child {
          margin-left: -$grid-column-gutter/4;
        }

        &:last-child {
          margin-right: -$grid-column-gutter/4;
        }
      }
    }

    .has-3-columns {
      grid-template-columns: repeat(3, 33.33% [col]);

      .wp-block-column {
        margin: 0 auto;
      }
    }
  }
}
// Boxen

.text-box {
  padding: $grid-column-gutter/2;

  p {
    margin-bottom: $grid-column-gutter/3;
  }
}

.img-box {
  position: relative;

  p {
    bottom: 5%;
    color: $white;
    position: absolute;
  }
}

.img-text-box {
  padding: $grid-column-gutter/4;

  .wp-block-column {
    text-align: left;
  }

  h2,
  h4,
  li,
  p {
    color: $white;
  }

  h4 {
    margin-top: $grid-column-gutter/2;
  }

  figure {
    margin-left: -$grid-column-gutter/4;
    margin-right: -$grid-column-gutter/4;
    margin-bottom: $grid-column-gutter/2;
  }
}
// Footer

.footer {
  border-top: 1px solid $dark-blue;

  .wp-block-columns {
    .wp-block-column {
      margin: $grid-column-gutter/2 0;
    }
  }

  p a {
    color: $green;
  }

  ul li {
    margin: $grid-column-gutter/4 0;
  }

  .copy {
    color: $gray;
  }
}
